body .instructions-main {
    font-family: 'Roboto', sans-serif;
    background-color: var(--background);
    color: var(--primary-text-color);
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 50px;
    padding: 10px 10px 10px 0;
    overflow-y: auto;
}

.instructions-container {
    position: center;
    overflow: auto;
    max-height: 80vh;
}

.instructions-header {
    text-align: center;
    margin-bottom: 10px;
    font-size: 36px;
}

.section {
    margin-bottom: 30px;
}


.section-heading {
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    margin-left: 0px;
}


.section-content {
    font-size: 20px;
    text-align: center;
    line-height: 1.6;
    margin-left: 0px;
}

.back-home {
display: block;
text-align: left;
margin-top: 5px;
text-decoration: none;
color: var(--primary-text-color);
font-size: 24;
position: fixed; 
top: 20px; 
right: 30px; 
z-index: 1000; 
}

.screenshot-box {
    background-color: #D9D9D9; /* Light gray background */
    padding: 40px; /* Increase padding for a larger box */
    margin-top: 20px;
    border: 1px solid #ccc; /* Border around the box */
    border-radius: 8px; /* Rounded corners */
    text-align: center; /* Center align the text inside */
    max-width: 400px; /* Optional: Set a max-width for control */
    margin-left: auto;
    margin-right: auto; /* Center the box horizontally */
}

.screenshot-text {
    font-size: 16px;
    color: #000;
}


.back-button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    background-color: rgba(245, 245, 245, 0.66);
    color: #2d9b01;
    border-radius: 50%;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
    font-size: 18px;
    top: 20px;
    right: 180px;
    z-index: 1000;
}

@media (max-width: 768px) {
    body {
        flex-direction: column;
        justify-content: flex-start;
        height: auto;
        margin: 20px;
        padding: 10px;
    }


    .instructions-header {
        margin-top: 30px;
    }


    .instructions-header {
        font-size: 28px;
    }


    .section-heading {
        font-size: 24px;
    }


    .section-content {
        font-size: 18px;
        line-height: 1.4;
    }


    .screenshot-box {
        width: 90%;
        max-width: 300px;
        padding: 20px;
    }
}


@media (max-width: 480px) {
    .instructions-header {
        font-size: 24px;
    }


    .section-heading {
        font-size: 20px;
    }


    .section-content {
        font-size: 16px;
    }


    .screenshot-box {
        padding: 15px;
        max-width: 250px;
    }


    .back-home {
        font-size: 16px;
    }


    .back-button {
        width: 25px;
        height: 25px;
        font-size: 14px;
    }
}
