.requests-container {
    padding: 20px;
    max-width: 600px;
    margin: auto;
}

.back-to-profile {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 16px;
}

@media (max-width: 768px) {
    .requests-container {
        position: fixed;
        top: 10px;
        left: 0;
        width: 100%;
    }
    .back-to-profile {
        font-size: 12px;
    }

}