ul {
  list-style-type: none;
}

li {
  margin: 10px 0;
}

.profile-container {
  display: flex;
  flex-direction: column;
  /*height: 100vh;*/
  width: 100%;
  max-width: 1200px;
  margin: auto;
  overflow: auto;
  /*margin-top: 30px;*/
}

.profile-header {
  text-align: center;
  margin: 10px 0;
  font-size: 40px;
}

.content-container {
  display: flex;
  flex: 1;
}

.left-column {
  width: 30%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex: 1;
  min-width: 250px;
}

.profile-picture {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  background-color: var(--popup-btn);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  font-weight: bold;
  text-align: center;
  padding: 10px;
  margin-bottom: 10px;
  cursor: pointer;
  border: 2px solid black;
}

.profile-picture-small {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: var(--popup-btn);
  border: 2px solid black;
}

.pfp-mini {
  display: inline;
  width: 10px;
  height: 10px;
  padding: 6px 17px;
  margin-right: 12px;
  border-radius: 50%;
  background-color: var(--popup-btn);
  border: 1px solid black;
}

.friend-list {
  list-style-type: none;
  line-height: 2.6;
  font-size: 18px;
}

.profile-button {
  background-color: var(--btn);
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-bottom: 20px;
}

.small-profile-button {
  background-color: var(--btn);
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  font-size: 18px;
  cursor: pointer;
}

.right-column {
  width: 70%;
  padding: 20px;
  flex: 2;
  overflow-y: auto;
}

.back-home {
  top: 0;
  color: black;
}

.back-button {
  top: 0;
}

.settings-table {
  text-align: left;
  font-size: 18px;
}

@media (max-width: 768px) {
  body {
    text-align: center;
  }

  .profile-container {
    width: 100%;
    padding: 10px;
    margin-top: 40px;
  }

  .profile-header {
    font-size: 28px;
    text-align: center;
  }

  .content-container {
    flex-direction: column; /* Stack elements vertically */
    align-items: center;
  }

  .left-column {
    width: 100%;
    align-items: center;
    text-align: center;
    padding: 10px;
  }

  .right-column {
    width: 100%;
    padding: 10px;
    align-items: center;
    text-align: center;
  }

  .profile-picture {
    width: 100px;
    height: 100px;
    font-size: 12px;
    margin-bottom: 20px;
  }

  .back-home {
    font-size: 16px;
    text-align: center;
  }

  .back-button {
    width: 30px;
    height: 30px;
    font-size: 14px;
  }

  button {
    font-size: 14px;
    padding: 10px 20px;
    max-width: 180px;
    width: 100%;
  }
}

@media (max-width: 480px) {
  .profile-header {
    font-size: 24px;
  }

  .content-container {
    padding: 5px;
  }

  .left-column,
  .right-column {
    width: 100%;
    padding: 5px;
  }

  .profile-picture {
    width: 90px;
    height: 90px;
    font-size: 10px;
  }

  button {
    font-size: 12px;
    padding: 8px 16px;
    max-width: 150px;
  }

  .add-friend, .pending-request, .all-friends {
    font-size: 14px;
    padding: 8px 16px;
    width: 100%;
  }
}
