.Tile {
    display: inline-flex;
    position: relative;
    background-color: #ffffff;
    transition: transform 0.1s; 
    transform: translate(0, 0); 
    width: 64px;  
    height: 95px;
    padding: 0; 
    margin: 2px;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.3);
    border: 1px solid;
    border-radius: 5px;

    text-align: center;
    justify-content: center;
    align-items: center;
    vertical-align: middle;
    
  }
  
  .tile-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5px;
    user-select: none;
    -webkit-user-drag: none;
}

.tile-fallback {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 12px;
    text-align: center;
    width: 100%;
    padding: 2px;
    word-break: break-word;
}

.TileSubtitle {
    font-size: 12px;
}

.Tile.locked {
    opacity: 0.7;  
}

.TileDropContainer {
    width: 64px;  
    height: 90px;     
    border: 4px dashed;
    min-height: 84px;  
    margin: 0px;
    padding: 2px;

    border-radius: 12px;
    border-color: rgba(36, 100, 38, 0.67);
    transition: background-color 0.3s;

    display: inline-flex;
    position: relative;
    text-align: center;
    justify-content: center;
    align-items: center;
    vertical-align: middle;
}

.TileDemo {
    border-spacing: 40px 0px;
    margin: 0px auto;
}

.undo-button {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 8px;
    padding: 0px;
    width: 30px;
    height: 30px;
    background-color: var(--btn);
    transition: background-color 0.3s;
    color: #e02222;
    border-radius: 50%;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
    font-size: 18px;
}

.confirm-button {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 8px;
    padding: 0px;
    width: 30px;
    height: 30px;
    background-color: var(--btn);
    transition: background-color 0.3s;
    color: #2d9b01;
    border-radius: 50%;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
    font-size: 18px;
}

.cancel-button {
    align-items: center;
    justify-content: center;
    padding: 0px;
    width: 30px;
    height: 30px;
    background-color: var(--btn);
    transition: background-color 0.3s;
    color: #e02222;
    border-radius: 50%;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
    font-size: 18px;
}

.undo-button:hover, .confirm-button:hover, .cancel-button:hover {
    background-color: var(--btnfade);
}

@media (max-width: 700px) {
    .Tile {
        width: 46px;
        height: 68px;
        padding: 0;
        margin: 2px;
        box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.3);
        border: 1px solid;
        border-radius: 5px;
        font-size: 10px;
        touch-action: none;
    }
}