body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    background-color: var(--background);
    color: var(--primary-text-color);
}

.header {
    display: flex;
    justify-content: space-between;
}

.tile-header {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin-bottom: 10px;
}

.flex-text {
    display: flex;
    max-width: 400px;
    padding: 20px;
    text-wrap: pretty;
    font-size: 18px;
    align-items: center;
}

.navbar {
    padding: 10px 20px;
    margin: 10px;
    display: flex;
}

.navbar-tile {
    padding: 5px 10px;
    margin: 0;
    display: inline;
    gap: 5px;
}

.navbar a {
    text-decoration: none;
    color: var(--primary-text-color);
}

.navbar a:hover {
    color: #413f3f;
}

.navelement, .navelement-welcome {
    display: inline-block;
    padding: 10px 20px;
    color: var(--primary-text-color);
    white-space: nowrap; 
}

.navbar ul {
    display: flex;
    flex-wrap: nowrap; 
    align-items: center; 
    gap: 10px; 
    padding: 0;
    margin: 0;
    list-style: none;
}

.Mahjongtile {
    display: flex;
    color: #2d9b01;
    width: 10px;
    height: 20px;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 5px;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.Game {
    display: flex;
    margin: auto;
    width: 90vw;
    max-width: 1002px;
    height: 70vw;
    max-height: 502px;
    padding: 6px;
    background-color: #000000;
    color: #ffffff;
    border-radius: 15px;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.Game img {
    border-radius: 10px;
    width: 90vw;
    max-width: 1002px;
    height: 70vw;
    max-height: 502px;
}

.Game button {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #ffffff;
    margin-top: 20px;
    font-size: 1.5rem;
    width: 80%;
    max-width: 200px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding-top: 16px;
    padding-bottom: 16px;
    padding-left: 24px;
    padding-right: 24px;
    background-color: rgba(0, 0, 0, 0.75);
    border-radius: 15px;
    border-color: #000000;
    border-style: solid;
    border-width: 3px;
}

.Game p {
    position: absolute;
    top: 68%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 1rem;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin-top: 30px;
}

.account-info {
    padding: 10px;
    margin: 10px 0;
    width: 400px;
    border: none;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.66);
}

.account-button {
    padding: 10px;
    padding-left: 24px;
    padding-right: 24px;
    background-color: var(--btn);
    color: var(--green-text);
    border: none;
    border-radius: 25px;
    cursor: pointer;
    transition: background-color 0.3s;
    width: auto;
    margin: 10px auto;
}

.small-account-button {
    padding: 6px;
    padding-left: 12px;
    padding-right: 12px;
    background-color: var(--btn);
    color: var(--green-text);
    border-radius: 25px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin: 4px auto;
}

.account-button:hover, .small-account-button:hover {
    background-color: var(--btnfade);
}

.center-block {
    display: block;
    text-align: center;
}

.logout-button {
    background: none;
    border: none;
    font-size: inherit;
    font-family: inherit;
    cursor: pointer;
    padding: 0;
    text-decoration: none;
}

.logout-button:hover {
    color: #413f3f;
}

a,
a:hover,
a:visited,
a:active {
    color: inherit;
    text-decoration: none;
}

table {
    border-collapse: separate;
    border-spacing: 50px 0;
}

td, th {
    padding: 10px 0;
}

.leaderboard {
    list-style-type: none;
    font-size: 18px;
    line-height: 2.6;
}

.leaderboard th {
    padding: 0 0;
}

.leaderboard-user-column {
    text-align: left;
}

@media (max-width: 768px) {
    .header {
        margin-top: "90px";
    }

    .navbar {
        padding: 5px 10px;
        margin: 0;
        flex-wrap: wrap;
        gap: 5px;
        vertical-align: bottom;
        display: contents;
    }

    .navbar-tile {
        position: absolute;
        top: 20%;
        padding: 5px 10px;
        margin: 0;
        flex-wrap: wrap;
        gap: 5px;
    }

    .navelement {
        padding: 5px; 
        font-size: 14px;
    }

    .navelement-welcome {
        position: absolute;
        top: 22%;
        left: 22%;
        padding: 5px; 
        font-size: 14px;
    }
    
    .navbar ul {
        display: flex;
        gap: 5px; 
        flex-wrap: nowrap; 
    }

    .Game button {
        font-size: 1.0rem;
        padding: 8px 10px;
        width: 35%;
        margin-top: 0px;
    }

    .Game p {
        font-size: 0.8rem;
        margin-top: 0px;
    }
}

@media (max-width: 400px) {
    .navbar-tile {
        top: 16%;
    }

    .navelement-welcome {
        top: 18%;
        left: 24%;
    }
}